@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --primary-cyan: hsl(158, 36%, 37%);
    --primary-cyan-hover: hsl(158, 36%, 23%) ;
    --primary-cream: hsl(30, 30%, 92%);

    --neutral--dark-blue: hsl(212, 21%, 14%);
    --neutral-gray-blue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);

    --width-mobile: 340px;
    --width-desktop: 800px;
    --base-font-size: 14px;

    --border-radius: 10px;

    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: var(--neutral-gray-blue);

    box-sizing: border-box;
}

body {
    background: var(--primary-cream);
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

h1 {
    font-family: 'Fraunces', serif;
    color: var(--neutral--dark-blue);
    margin-top: .2rem;
}

p {
    font-size: var(--base-font-size);
}

.superheader {
    letter-spacing: .2rem;
    color: var(--neutral-gray-blue);
    font-size: var(--base-font-size);
}

.cart-button {
    height: 3rem;
    font-family: inherit;
    font-weight: 700;
    color: var(--neutral-white);
    width: 100%;
    background: var(--primary-cyan);
    border: none;
    border-radius: var(--border-radius);
    text-align: center;
}

.cart-button::before {
    content: url("images/icon-cart.svg");
    margin-inline: .5rem;
}

.cart-button:hover {
    background: var(--primary-cyan-hover);
}

.card {
    display: grid;
    grid-auto-columns: var(--width-mobile);
    background: var(--neutral-white);
    border-radius: 1rem;
}

.container-image {
    width: var(--width-mobile);
    aspect-ratio: 1.429;
    background-image: url("images/image-product-mobile.jpg");
    background-size: cover;
    overflow: hidden;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.container-text {
    padding: 1.4rem;
}

.container-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1rem;
    align-items: center;
    gap: 1rem;
}

.current-price {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: var(--primary-cyan);
}

.old-price {
    text-decoration: line-through;
}

@media screen and (min-width: 600px) {
    .card {
        grid-template-columns: 1fr 1fr;
        max-width: 540px;
    }

    .container-image {
        background-image: url("images/image-product-desktop.jpg");
        width: 270px;
        aspect-ratio: 2 / 3.1;
        border-radius: var(--border-radius) 0 0 var(--border-radius);

    }
}
